RewriteEngine On RewriteCond %{HTTPS} off RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 
RewriteEngine On
RewriteCond %{HTTP_HOST} ^jpjbuilders\.in [NC]
RewriteRule ^(.*)$ https://www.jpjbuilders.in/$1 [L,R=301]
